   <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <!-- Links -->
    
    <ul class="navbar-nav" style="position: absolute, left 50%">
      <li class="nav-item"  >
          <a routerLink="add" class="nav-link" routerLinkActive="active">Add Address</a>
      </li>
    </ul>
  </nav>
  <div class="container">
    <br>
    <h2 style="text-align: center;">Address Management System</h2>
    <div class="card">
      <div class="card-body">
    <router-outlet></router-outlet>
      </div>
    </div>
  </div>